body > h1 {
  text-align: center;
}

#container{
  display: flex;
  justify-content: space-around;
}

.box{
  display: inline-block;
  width: 40vw;
  height: 60vh;
  border: 1px solid black;
  padding: 6px
}
